<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>個別で置き換わる</title>
	<meta charset="utf-8" />
	<meta name="robots" content="noindex, nofollow, noarchive" >
	<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
	<script src="/js/common/ajax.js" th:src="@{/js/common/ajax.js}"></script>
</head>
<body>
<a href="/logout">ログアウト</a>
<section layout:fragment="content">
	<p>個別部分で定義する内容</p>
</section>
</body>
</html>
