<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="layout/onMenuLayout">
<head>
<title>キースペース</title>
<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow, noarchive" >
</head>
<body>
<th:block layout:fragment="content">
<h3>キースペース</h3>
<input type="button" id="keySpaceRegister" value="キースペースを作成"/>
<form th:object="${form}" th:action="@{/authenticate}" method="post">
	<table border="1">
		<thead style="background:#DDFFFF">
			<tr>
				<th><label>キースペース</label></th>
<!-- TODO 追加実装は後で
 				<th><label>テーブル数</label></th>
				<th><label>ステータス</label></th>
 -->
			</tr>
		</thead>
		<tbody>
		<th:block th:each="keySpace, iterStat : ${keySpaceList}" th:unless="${#lists.isEmpty(keySpaceList)}">
			<tr>
				<td><a th:text="${keySpace}" class="clickLink" th:href="${'/keySpaceUpdater?keySpace=' + keySpace}">キースペース名</a></td>
<!-- TODO 追加実装は後で
				<td><label>1</label></td>
				<td><label>ステータス</label></td>
 -->
			</tr>
		</th:block>
		</tbody>
	</table>
</form>
<script src="/js/keySpaceList/main.js" th:src="@{/js/keySpaceList/main.js}"></script>
</th:block>
</body>
</html>
