<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="layout/onMenuLayout">
<head>
<title>キースペース登録</title>
<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow, noarchive" >
</head>
<body>
<section layout:fragment="content">
<h3>キースペース登録</h3>
<form id="form" th:object="${form}" th:action="@{/keyspaceRegister/regist}" method="post">
	<div layout:replace="~{/layout/messages :: messagesArea}">メッセージエリア</div>
	<table>
		<tr>
			<td><label>キースペース名</label></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan='2'><input type="text" th:field="*{keyspaceName}"/></td>
		</tr>
		<tr>
			<td><label>パラメーター</label></td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><span style='color:blue;'>// TODO 後で実装</span></td>
			<td>&nbsp;</td>
		</tr>
	</table>
	<input id="referrer" type="button" value="戻る"/>
	<input type="submit" value="登録"/>
</form>
<script src="/js/keyspaceRegister/keyspaceRegister.js" th:src="@{/js/keyspaceRegister/keyspaceRegister.js}" type="module"></script>
</section>
</body>
</html>
